<<<<<<< HEAD

<ul class="nav">
		<li><a href="bokningar">Bokningar</a></li>
		<li><a href="bilar">Bilar</a></li>
		<li><a href="anvandare">Användare</a></li>
		<li><a href="besiktning">Besiktning</a></li>
		<li><a href="service">Service</a></li>
		<li><a href="felanmalningar">Felanmälningar</a></li>
	</ul>
=======
<div class="navdiv">
	<ul class="navbar">
		<li><a href="../anvandare/">Boka</a></li>
		<li><a href="minabokningar">Mina Bokningar</a></li>
		<li><a href="mittkonto">Mitt Konto</a></li>
		<li><a href="felanmalan">Felanmälan</a></li>
	</ul>
</div>
>>>>>>> upstream/master
