
	<ul class="nav">
		<li><a href="bokningar">Bokningar</a></li>
		<li><a href="bilar">Bilar</a></li>
		<li><a href="anvandare">Användare</a></li>
		<li><a href="besiktning">Besiktning</a></li>
		<li><a href="service">Service</a></li>
		<li><a href="felanmalningar">Felanmälningar</a></li>
		<li><input type="search" name="search" value="" placeholder="Search"></li>
	</ul>
