body {
margin-top: 40px;

}

a {

  color: #00B7FF;

}
/* *{margin: 0;padding: 0;} */
img {

	width: 150px;
	height: 150px;

}

.right ul li {

	list-style: none;

}

.bil-container {

	width: 75%;
	margin: 20px;
	padding: 20px;
	border: 1px solid black;

}

.left , .right {

	display: inline-block;

}

.changeButton {

	width: 100px;
	border: 1px solid black;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
	text-align: center;
}

.besiktningTable tr td {

	width: 200px;

}

/*.navdiv {

	height: 60px;
	margin:auto;
	width: 950px;
	padding: 0;
	border: 1px solid black;
}*/
.nav{
	font-family: Arial;
	list-style: none;
	width: 960px;
	height: 100px;
	background: #c6dcfb;
	margin:auto;
	overflow: hidden;

}
.nav li{float: left;
	margin-top: 40px;

}
.nav a{color: black;
	text-decoration: none;
	background: #c6dcfb;
	float: left;
	font-size: 20px;
	color:white;
	padding: 0 10px;
	border-right: 1px solid white;
}
.nav a:hover{
	background: #c6dcfb
}
.nav input{
	border-radius: 5px;padding: 2px;margin-left: 15px;
}
.flexbox{
	display: -webkit-flex;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    margin-top: 10px;
    font-family: helvetica;
    background-color: #ebebeb;
}
.userlist{
	border-right: 2px solid #c6dcfb;
	width:200px;
	margin-left:0px;
	padding:0;
}
.userlist ol{margin:0px;padding: 0;list-style: none;}
.userlist li{;padding-top: 5px;padding-bottom: 5px;;width: 200px;}
.userlist button{margin-left: 10px;
z-index: 0;
background: #ebebeb;
text-align: center;
border: none;}
.userinfo{
width: 850px;
margin-left: 10px;
padding-left: 10px
padding-right:50px;
}
.anvandare{
	color: white;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	width: 190px;
	height: 30px;
	color: white;
	background-color: black;
	border: none;
	z-index: 0;
}
.administerera{
	color: white;
	float: right;
	width: 120px;
	height: 30px;
	border-radius: 5px;
	background-color: black;
	border: none;
	z-index: 0;
}
.userinfo img{
		float: right;
}
.bokdetatil{
	font
	width: 550px;
	height: 70px;
	/*border:3px solid #829eaf;*/
	margin-left: 10px;
	border-radius: 3px;
	background-color: white;
}
.bilinfo{
	margin: 20px;
	border: 3px solid black;
  list-style: none;
}
.bilinfo img{
<<<<<<< HEAD
<<<<<<< HEAD
	float: left;
=======
	width: auto;
  height: 150px;
>>>>>>> upstream/master
}
.container{
	margin:auto;
	width: 950px;
}
.getbilinfo{
	border: 3px solid green;

	min-height: 100px;
}
.kundinfo{
	width: 150px;
	height: 100px;
	border: 1px solid green;
	margin-bottom: 50px;
}
<<<<<<< HEAD
=======
	width: auto;
  height: 150px;
}
>>>>>>> upstream/master
=======
>>>>>>> upstream/master
